name: babylonchain/babylon-contract/wasm-tests
on:
  pull_request:
    branches:
      - '**'
env:
  CARGO_TERM_COLOR: always
  WORKSPACE: "/home/runner/work/babylon-contract/babylon-contract"
jobs:
  wasm-build-check-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.0
    - name: Build optimised Wasm binaries
      run: "./scripts/optimizer.sh"
    - name: List optimised Wasm binaries
      run: bash -c "ls $WORKSPACE/artifacts/*.wasm"
