name: babylonchain/babylon-contract/wasm-tests
on:
  push:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
  WORKSPACE: "/home/runner/work/babylon-contract/babylon-contract"
jobs:
  wasm-build-check-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.0
    - name: Build optimised Wasm binaries
      run: "./scripts/build-optimizer-ci.sh"
    - name: List optimised Wasm binaries
      run: bash -c "ls $WORKSPACE/artifacts/*.wasm"
    - name: Install cosmwasm-check
      run: cargo install --locked --debug --version ^2.0 cosmwasm-check
    - name: Check the Wasm binaries' validity
      run: bash -c "cosmwasm-check $WORKSPACE/artifacts/*.wasm"
    - name: Integration tests based on CosmWasm
      run: cargo test --test integration
    - uses: actions/upload-artifact@v4.1.0
      with:
        path: |-
          artifacts/babylon_contract.wasm
          artifacts/btc_staking.wasm
